In [1]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv("archive-4.zip",compression="zip")

In [3]:
df.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
carat,53940.0,0.797940,0.474011,0.2,0.40,0.70,1.04,5.01
depth,53940.0,61.749405,1.432621,43.0,61.00,61.80,62.50,79.00
table,53940.0,57.457184,2.234491,43.0,56.00,57.00,59.00,95.00
price,53940.0,3932.799722,3989.439738,326.0,950.00,2401.00,5324.25,18823.00
x,53940.0,5.731157,1.121761,0.0,4.71,5.70,6.54,10.74
y,53940.0,5.734526,1.142135,0.0,4.72,5.71,6.54,58.90
z,53940.0,3.538734,0.705699,0.0,2.91,3.53,4.04,31.80

In [5]:
df.info

<bound method DataFrame.info of        carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]>

In [6]:
df.shape

(53940, 10)

In [7]:
df.isna().sum()
#no any na values

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [8]:
df=df.drop_duplicates().copy()
df.shape

(53794, 10)

In [9]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [10]:
df["clarity"].unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [11]:
df["cut"].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [12]:
df["color"].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [13]:
df["color"]=df["color"].apply(lambda x:{"E":1,"I":2,"J":3,"H":4,"F":5,"G":6, "D":7}.get(x)).astype("float64")

In [14]:
df["clarity"]=df["clarity"].apply(lambda x:{"SI2":1,"SI1":2,"VS1":3,"VS2":4,"VVS2":5,"I1":6,"IF":7}.get(x))

In [15]:
df["cut"]=df["cut"].apply(lambda x: {"Ideal":1,"Premium":2,"Good":3,"Very Good":4,"Fair":5}.get(x)).astype("float64")

In [16]:
df["volume"]=df['x']*df["y"]*df["z"]
df.drop(columns=["x","y","z"],axis=1,inplace=True)

In [17]:
col=df.pop("volume")
df.insert(6,col.name,col)

In [18]:
df1=df.drop("price",1).copy()

In [19]:
scaler=StandardScaler()
scaler.fit(df1)
data=scaler.transform(df1)

In [20]:
df1=pd.DataFrame(data,columns=df1.columns)
df1

          carat       cut     color   clarity     depth     table    volume
0     -1.199402 -0.971068 -1.548072 -1.312521 -0.173495 -1.100486 -1.172273
1     -1.241651 -0.181133 -1.548072 -0.658640 -1.362393  1.585691 -1.219563
2     -1.199402  0.608803 -1.548072 -0.004759 -3.390512  3.376475 -1.173874
3     -1.072656 -0.181133 -1.060350  0.649122  0.455922  0.242603 -1.063233
4     -1.030407  0.608803 -0.572629 -1.312521  1.085338  0.242603 -0.996797
...         ...       ...       ...       ...       ...       ...       ...
53789 -0.164306 -0.971068  1.378257 -0.658640 -0.663041 -0.205093 -0.177929
53790 -0.164306  0.608803  1.378257 -0.658640  0.945468 -1.100486 -0.149908
53791 -0.206555  1.398738  1.378257 -0.658640  0.735662  1.137995 -0.196740
53792  0.131436 -0.181133 -0.084907 -1.312521 -0.523171  0.242603  0.139958
53793 -0.100933 -0.971068  1.378257 -1.312521  0.316051 -1.100486 -0.067279

[53794 rows x 7 columns]

In [21]:
df_new=pd.concat([df1.reset_index(),df["price"].reset_index()],axis=1).drop("index",1).copy()
df_new=df_new.drop("clarity",axis="columns").copy()

In [22]:
df_new.to_csv("df_new")

In [23]:
df_new.isna().sum()

carat     0
cut       0
color     0
depth     0
table     0
volume    0
price     0
dtype: int64